{% extends 'pages/base.html' %}
{% block conteudo %}
<div class="container mt-5">
  <table class="table table-bordered border-2 border-primary rounded">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome da Categoria</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for categoria in categorias %} 
        <tr>
          <th scope="row">{{ categoria.id }}</th>
          <td>{{ categoria.nome}}</td>
          <td>     
            <a href="{% url 'editar_categoria' categoria.id %}" class="btn btn-primary btn-sm">Editar</a>  |
            <a href="{% url 'excluir_categoria' categoria.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Você tem certeza que deseja excluir esta categoria?');">Excluir</a>
          </td>
      {% endfor %}
    </tbody>
  </table>

  <div class="text-center">
    <a href="/" class="btn btn-primary">Voltar para o início</a>
  </div>
</div>
{% endblock %}
